<% content_for :styles do %>
  <%= stylesheet_link_tag 'actors' %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @actor.name+" "+@actor.second_name %></h1>
  </div>
  <div class="col-md-offset-5">
    <%= link_to 'Изменить', edit_actor_path(@actor) %> |
    <%= link_to 'Назад', actors_path %>
  </div>
</div> 
<div class="row">
  <div class="col-md-4 image-frame">
    <%= image_tag @actor.photo.url(:medium), class: "image-big"%>
  </div>
  <div class="col actor-data">
    <p>
      <strong>Имя:</strong>
      <%= @actor.name %>
    </p>
    <p>
      <strong>Фамилия:</strong>
      <%= @actor.second_name %>
    </p>
    <p>
      <strong>Отчество:</strong>
      <%= @actor.third_name %>
    </p>
  </div>
</div>
