<%= form_with(model: movie, html: { multipart: true }) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> попрепятствовало сохранению фильма:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Название, for: :movie_title%>
    <%= form.text_field :title, id: :movie_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Длительность, for: :movie_duration %>
    <%= form.text_field :duration, id: :movie_duration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Режисёр, for: :movie_director %>
    <%= form.text_field :director, id: :movie_director, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Рейтинг, for: :movie_rating %>
    <%= form.text_field :rating, id: :movie_rating, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Описание, for: :movie_description %>
    <%= form.text_area :description, id: :movie_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Постер, for: :poster %>
    <%= form.file_field :poster, id: :poster_field%>
  </div>

  <%= form.submit class: "btn btn-info"%>

<% end %>
