<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-2 movie-tile">
        <div class="thumbnail">
          <%= link_to (image_tag movie.poster.url(:thumb), class: 'image', alt: movie.title, title: movie.title), movie%>
        </div>
        <div class="row movie-prev-data">
          <div class="title col-7" title="<%= movie.title %>">
            <%= movie.title %>
          </div>
          <div class="duration col-2">
            <%= movie.duration%> min
          </div>
          <div class="rating col-1">
            <%= movie.rating%>
            100
          </div>
        </div>
        <hr/>
    </div>
  <% end %>
</div>