<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @movie.title %>
</p>

<%= image_tag @movie.poster.url(:medium) %>

<p>
  <strong>Длительность:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Режиссёр:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Рейтинг:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @movie.description %>
</p>
<%= link_to 'Изменить', edit_movie_path(@movie) %> |
<%= link_to 'Назад', movies_path %>
