<div class="row">
  <div class="col-md-6">
    <h1><%= @movie.title %></h1>
  </div>
  <div class="col-md-offset-5">
    <%= link_to 'Изменить', edit_movie_path(@movie) %> |
    <%= link_to 'Назад', movies_path %>
  </div>
</div> 
<div class="row">
  <div class="col-md-4 poster-frame">
    <%= image_tag @movie.poster.url(:medium), class: "poster-big"%>
  </div>
  <div class="col movie-data">
    <p>
      <strong>Название:</strong>
      <%= @movie.title %>
    </p>

    <p>
      <strong>Длительность:</strong>
      <%= @movie.duration %>
    </p>

    <p>
      <strong>Режиссёр:</strong>
      <%= @movie.director %>
    </p>

    <p>
      <strong>Рейтинг:</strong>
      <%= @movie.rating %>
    </p>

    <p>
      <strong>Описание:</strong>
      <p class="movie-description"><%= @movie.description %></p>
    </p>
  </div>
</div>
