<% content_for :styles do %>
  <%= stylesheet_link_tag 'directors' %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @director.name+" "+@director.second_name %></h1>
  </div>
  <div class="col-md-offset-5">
    <%= link_to 'Изменить', edit_director_path(@director) %> |
    <%= link_to 'Назад', directors_path %>
  </div>
</div> 
<div class="row">
  <div class="col-md-4 image-frame">
    <%= image_tag @director.photo.url(:medium), class: "image-big"%>
  </div>
  <div class="col director-data">
    <p>
      <strong>Имя:</strong>
      <%= @director.name %>
    </p>
    <p>
      <strong>Фамилия:</strong>
      <%= @director.second_name %>
    </p>
    <p>
      <strong>Отчество:</strong>
      <%= @director.third_name %>
    </p>
  </div>
</div>
