<!DOCTYPE html>
<html>
  <head>
    <title>Нетленочки</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :styles%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts%>
  </head>

  <body>
  <div class="site-container">	
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <div class="main-container">
        <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-success") %>
        <% end %>
        <%= yield %>
    </div>
  </div>		    
  </body>
</html>