<!DOCTYPE html>
<html>
  <head>
    <title>Нетленочки</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="site-container">
	<% if user_signed_in? || request.original_url == new_user_registration_url%>	
	    <%= render 'layouts/header' %>
	    <%= render 'layouts/sidebar' %>
	    <div class="main-container">
	        <% flash.each do |name, msg| %>
	            <%= content_tag(:div, msg, class: "alert alert-success") %>
	        <% end %>
	        <%= yield %>
	    </div>
	<% else %>
		<%= render 'users/sign-in' %>	
	<% end %>
  </div>		    
  </body>
</html>